body {
    text-align: center;
    font-family:futura;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5em;
    position: sticky;
    top: 0;
    background-color: rgb(160, 206, 160)
}

.menu a {
    text-decoration: none;
    font-family: arial;
}

.welcome {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-image: url(images/background.jpeg);
    background-size: cover;
    
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 4rem;
    color: white;
}

.print {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.print img {
    height: 400px;
}

.img-title {

    background: rgba(255, 236, 128, 0.867);
    opacity: 0;
        
    display: grid;
    place-items: center;
}

.image-card:hover img {
    width: 400px;
    height: auto;
    display: block;
}
  
.image-card:hover .img-title {
    opacity: 1;
    width:400px;
    height:auto;
    display:block;
  }

.image-card a {
    color: black;
    text-decoration: none;
  }

@media (max-width: 800px) {
    .print {
        display: grid;
        grid-template-columns: 1fr;
    }

    .image-card:hover {
        margin: 0 auto;
    }
}

.gif {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.content img {
    height: 300px;
    padding: 50px;
}

p {
   margin-left: 20%;
   margin-right: 20%; 
}

.animation {
    transition: 5s;
}

.animation:hover {
    transform: rotate(360deg);
}

footer {
    padding-bottom: 100px;
    padding-top: 100px;
    margin-top: 100px;
    background-color: rgb(238, 236, 127)
}

.logo img {
    height: 400px;
    padding: 50px;
}

a {
    padding-bottom: 50px;
}