h3 {
    font-family: futura;
    text-align: center;
    padding: 5px;
  }
  
.box {
    width: 500px;
    height: 50px;
    background-color: red;
    animation-name: bar;
    animation-duration: 4s;
    margin: 0 auto;
    animation-fill-mode: forwards;
    }
    
@keyframes bar {
      from {background-color: red;}
      to {background-color: green;}
    }